<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
	<title>"1-percent-a-day"</title>
    </head>
    
    <body>
        <h2>Choose all the fields you are interested in improving:</h2>
        <form action={% url "home:submit_fields" %} method="post">
            {% csrf_token %}
            {% for f in fields %}
                <input type="radio" name={{ f.id }} value=true>{{ f.name }}</input><br>
            {% endfor %}
            <button type="submit">Submit</button>
        </form>
    </body>
</html>
